.signin-container {
    width: 100vw;
    height: 100vh;
}

.signin-container .form-container {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-container .form-container .form-controls {
    margin-top: 8rem;
}

.signin-container .form-container .form-controls h1 {
    color: #32264D;
    margin-bottom: 2.4rem;
    font: 700 3.0rem Poppins;
}

.signin-container .form-container .remember {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    color: '#9C98A6'
}

.signin-container .form-container .remember button {
    border: none;
    background: transparent;
    font-family: Poppins;
    font-size: 1.4rem;
    cursor: pointer;
    color: #9C98A6;
}

.signin-container footer {
    margin-top: 12rem;
    width: 38rem;
}

.signin-container footer main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem;
    font-size: 1.2rem;
    font-family: Poppins;
}

.signin-container footer main .dont-has-account {
    display: flex;
    flex-direction: column;
    color: #6A6180;
}

.signin-container footer main .is-free {
    color: #9C98A6;
}

.signin-container footer button {
    border: 0;
    background: transparent;
    font-size: 1.4rem;
    margin: 0 1.6rem;
    color: var(--color-primary-dark);
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 700px) {
    .signin-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .signin-container .form-container {
        width: 45%;
        height: 100%;
        background-color: #E5E5E5;
    }
}